@import './../../../../styles.scss';

.greyBox {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: $colorGrey;
    @include dflex();
}

.mainBox {
    width: 90%;
    max-width: 1200px;
    @include dflex($fd:column);
    >h2 {
        color: $colorBlue;        
    }
    >h2, span {
        padding-bottom: 32px;
    }
}

.typeBox {
    width: 400px;
    @include dflex($jc:space-around);
    margin-bottom: 32px;
    margin-Left: -64px;
    >h2 {
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.yearBox {
    width: 100%;
    @include dflex();
    background-color: $colorBlue;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    color: white;
    >h2 {
        margin-left: 32px;
        margin-right: 32px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.switchCase {
    width: 55px;
    height: 30px;
    border-radius: 45%;
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.switchButton {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: radial-gradient(circle, grey, $colorDark);
}

.switchChange {
    animation: switchAnimation .25s forwards;
}

.switchChangeRev {
    animation: switchAnimationRev .25s forwards;
}

.contentBox {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    @include dflex($fd:column);
}

.priceBox {
    @include dflex($ai:flex-start);
    margin-top: 32px;
    margin-bottom: 48px;
}

.rightBox {
    padding-top:48px;
}

.line {
    width: 2px;
    height: 420px;
    background-color: $colorGrey;
    margin: 0px 12px 0px 12px;
}

.downloadBox {
    width: 100%;
    @include dflex();
    background-color: $colorBlue;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: white;
    margin-top: 32px;
    padding: 8px 0px 8px 0px;
}



// KEYFRAMES

@keyframes switchAnimation {
    0%      {left: 0px;}
    100%    {left: 28px;}
}

@keyframes switchAnimationRev {
    0%      {left: 28px;}
    100%    {left: 0px;}
}


@media(max-width:1200px) {
    
    .priceBox {
        @include dflex($fd:column);
        width: 60%;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: $colorGrey;
        margin: 48px 0px 0px 0px;
    }

}

@media(max-width:1000px) {
    
    .priceBox {
        width: 100%;
    }

}

@media(max-width:600px) {
    
    .priceBox {
        font-size: 14px;
    }

    .downloadBox {
        >h3 {
            font-size: 16px;
        }
    }

    .mwst {
        font-size: 14px;
    }

    .typeBox {
        margin-Left: 0;
    }

}

@media(max-width:450px) {
    
    .priceBox {
        font-size: 12px;
    }

    .downloadBox {
        >h3 {
            font-size: 14px;
        }
    }

    .mwst {
        font-size: 12px;
        text-align: center;
    }

    .typeBox {
        width: 100%;
        >h2 {
            font-size: 16px;
        }
    }

    .mainBox {
        >span {
            text-align: center;
        }
    }

}

@media(max-width:375px) {
    
    .priceBox {
        font-size: 11px;
    }

    .downloadBox {
        >h3 {
            font-size: 12px;
        }
    }

    .mwst {
        font-size: 11px;
    }

}