<div class="greyBox">
    <div class="line" [class.activeLine]="main.admSection == 1" (click)="main.admSection = 1">
        <h2>Newsticker</h2>
    </div>
    <div class="mainBox" *ngIf="main.admSection == 1">
        <h3>Aktive News:</h3>
        <div class="contextContainer">
            <div *ngFor="let info of main.news; let i = index" class="singleBox">
                <div class="iconBox">
                    <img src="assets/img/edit.png" *ngIf="!main.news[i].edit" (click)="main.news[i].edit = true">
                    <img src="assets/img/save.png" *ngIf="main.news[i].edit" (click)="main.news[i].edit = false; saveChanges(i)">
                    <img src="assets/img/delete.png" *ngIf="!main.news[i].edit" (click)="main.news.splice(i,1)">
                    <img src="assets/img/back.png" *ngIf="main.news[i].edit" (click)="main.news[i].edit = false">
                </div>
                <p *ngIf="!main.news[i].edit"><b>{{info.head}}</b></p>
                <input type="text" *ngIf="main.news[i].edit" value="{{ main.news[i].head }}" [(ngModel)]="news.head">
                <p *ngIf="!main.news[i].edit">{{info.body}}</p>
                <input type="text" *ngIf="main.news[i].edit" value="{{ main.news[i].body }}" [(ngModel)]="news.body">
            </div>
        </div>
        <h3>News hinzufügen</h3>
        <div class="inputBox">
            <label>Titel</label>
            <input type="text" required [(ngModel)]="news.head">
            <label>Infotext</label>
            <textarea type="text" required [(ngModel)]="news.body"></textarea>
            <div class="button" (click)="addNews()">Hinzufügen</div>
        </div>
    </div>
</div>