<div class="videoContainer">
    <img class="vid" src="assets/img/orh-gelaende.jpg">
</div>
<div class="container">

    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>GRUNDSÄTZE UNSERER FREIZEITARBEIT</h2>
                <div>
                    <h3>Freizeit pur...</h3>
                    <span>... dazu sind alle ganz herzlich eingeladen, die Lust haben, ihren Urlaub in einer christlichen 
                        Freizeitgruppe zu verbringen, unabhängig von ihrer Konfession. Wir hoffen und wünschen, dass die 
                        Freizeit für jeden zu einem guten Erlebnis wird. Erholung und Entspannung mögen genauso wichtig sein 
                        wie interessante und nicht alltägliche Erlebnisse in einer Gruppe Gleichaltriger. Unseren 
                        Freizeitleitern ist dabei auch wichtig, mit den Teilnehmern über Fragen des Lebens und des Glaubens 
                        ins Gespräch zu kommen. Anregungen dazu gibt es auf vielerlei Art und Weise: durch das Zusammenleben, 
                        durch Andachten, Bibelarbeiten und gemeinsames Singen. Der Freizeitteilnehmer sollte durch Fragen und 
                        Meinungen zu einem lebendigen Austausch und zu einem Gelingen der Freizeit beitragen.
                    </span>
                </div>
                <div>
                    <h3>Unsere Mitarbeitenden</h3>
                    <span>Unsere Veranstaltungen werden von geschulten und erfahrenen Mitarbeitenden geleitet. Sie übernehmen 
                        für die Dauer der Freizeit die gesetzliche Aufsichtspflicht. Fast alle sind ehrenamtlich tätig und 
                        erhalten für ihren Dienst keine Vergütung.
                    </span>
                </div>
                <div>
                    <h3>Unterkünfte</h3>
                    <span>Hotelkomfort ist bei unseren Freizeiten selten zu erwarten, doch sind alle Unterkünfte den jeweiligen 
                        Zielgruppen entsprechend ausgewählt, ihre Ausstattung meist einfach und zweckmäßig. Die Unterkunft 
                        erfolgt geschlechtergetrennt in Mehrbettzimmern.<br>Für eine gute Verpflegung sorgen unsere bewährten Küchenteams. 
                        Die Teilnehmer übernehmen Mitverantwortung fürs Sauberhalten und wirken beim Küchendienst mit.
                    </span>
                </div>
                <div>
                    <h3>Leistungsumfang</h3>
                    <span>Die Freizeitpreise beinhalten, soweit keine abweichende Regelung angegeben ist, Vollpension, 
                        Programmgestaltung, Ausflugsfahrten, Organisation, Unfall- und Haftpflichtversicherung. Nicht inbegriffen 
                        sind Taschengelder für zusätzliche Verpflegung (z.B. Kiosk).
                    </span>
                </div>
                <div>
                    <h3>Programm</h3>
                    <span>Die Teilnahme an allen Programmpunkten ist für jede/n Teilnehmenden verpflichtend. Eine alternative 
                        Betreuung steht nicht zur Verfügung.
                    </span>
                </div>
                <div>
                    <h3>Versicherungen</h3>
                    <span>Ein Versicherungsschutz für das Reisegepäck besteht nicht. Ebenso haben wir keine 
                        Auslandskrankenversicherung abgeschlossen. Diese muss jeder mit seiner eigenen Krankenkasse abklären. 
                        Im Reisepreis ist keine Reise-Rücktrittskosten-Versicherung enthalten. Wir empfehlen eine solche 
                        Versicherung selbst abzuschließen.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>






