<div class="videoContainer">
    <img class="vid" src="assets/img/orh-gelaende.jpg">
</div>
<div class="container">
    <img class="heroWave" src="assets/img/hero-wave.png">
    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>Wir über uns</h2>
                <div class="singleTextBox">
                    <span>Unserem Namensgeber Otto Riethmüller (1889-1938) war es ein Herzensanliegen,
                        Kindern und Jugendlichen Gottes Wort nahe zu bringen. Dafür setzte er sich sein
                        Leben lang ein – auch gegen Widerstände.
                        An Otto Riethmüllers Vorbild orientieren wir uns auch heute noch. Ein Bibelvers,
                        der ihm wichtig war, begleitet uns: „In der Welt habt ihr Angst; aber seid getrost,
                        ich habe die Welt überwunden.“ (Johannes 16,33).</span>
                </div>
            </div>
        </div>
    </div>
</div>