<div class="videoContainer">
    <img class="vid" src="assets/img/haus.jpg">
</div>
<div class="container">
    <div class="ovalOverlay">
        <div class="textBoxes">
            <h2>Kontakt</h2>
            <div class="singleTextBox">
                <span>Haben Sie Fragen oder wollen uns etwas mitteilen? Dann treten Sie mit uns in Kontakt.
                    Gerne können Sie, nach Absprache, unsere Einrichtung auch gerne besuchen kommen, um vor Ort einen
                    Einblick in unsere zwei Freizeithäuser zu bekommen. Sie finden uns unter:
                </span>
                <table>
                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 30%;">
                        <col style="width: 30%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Adresse:</th>
                            <th>Telefon / Internet:</th>
                            <th>GPS / what3words</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Otto-Riethmüller-Haus</b><br>
                                Am Weiher 47<br>
                                67475 Weidenthal
                            </td>
                            <td>Telefon: 06329-989123<br>
                                E-Mail: info&#64;orh.de<br>
                                <a href="https://www.instagram.com/otto_riethmueller_haus/" target="_blanc">Instagram</a>
                            </td>
                            <td>
                                <b>N</b> 49 ° 24' 51.972 | <b>E</b> 7 ° 58' 25.618<br>
                                ///gebäude.schreibweise.vorgang
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>