<div class="videoContainer">
    <video id="heroVideo" controls preload="true" autoplay loop muted class="vid">
        <source src="assets/vid/kontakt.mp4" type="video/mp4">
    </video>
</div>
<div class="container">
    <img class="heroWave" src="assets/img/hero-wave.png">
    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>Kontakt</h2>
                <div class="singleTextBox">
                    <span>Haben Sie Fragen oder wollen uns etwas mitteilen? Dann treten Sie mit uns in Kontakt.
                        Gerne können Sie, nach Absprache, unsere Einrichtung auch gerne besuchen kommen, um vor Ort
                        einen
                        Einblick in unsere zwei Freizeithäuser zu bekommen. Sie finden uns unter:
                    </span>
                    <table>
                        <colgroup>
                            <col style="width: 40%;">
                            <col style="width: 30%;">
                            <col style="width: 30%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Adresse:</th>
                                <th>Telefon / Internet:</th>
                                <th>GPS / what3words:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Otto-Riethmüller-Haus</b><br>
                                    Am Weiher 47<br>
                                    67475 Weidenthal
                                </td>
                                <td>Telefon: 06329-989123<br>
                                    E-Mail: info&#64;orh.de<br>
                                    <!-- <a href="https://www.instagram.com/otto_riethmueller_haus/"
                                        target="_blanc">Instagram</a> -->
                                </td>
                                <td>
                                    <b>N</b> 49 ° 24' 51.972 | <b>E</b> 7 ° 58' 25.618<br>
                                    ///gebäude.schreibweise.vorgang
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tableResponsiv">
                        <h2>Adresse:</h2>
                        <p>Otto-Riethmüller-Haus</p>
                        <p>Am Weiher 47</p>
                        <p>67475 Weidenthal</p>
                        <h2>Telefon / Internet:</h2>
                        <p>Telefon: 06329-989123</p>
                        <p>E-Mail: info&#64;orh.de</p>
                                    <!-- <a href="https://www.instagram.com/otto_riethmueller_haus/"
                                        target="_blanc">Instagram</a> -->
                        <h2>GPS / what3words:</h2>
                        <p><b>N</b> 49 ° 24' 51.972 | <b>E</b> 7 ° 58' 25.618</p>
                        <p>///gebäude.schreibweise.vorgang</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>