<div class="videoContainer">
    <img class="vid" src="assets/img/orh-gelaende.jpg">
</div>
<div class="container">

    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>ANMELDE- UND TEILNAHMEBEDINGUNGEN FÜR FERIENFREIZEITEN DES OTTO-RIETHMÜLLER-HAUS FREIZEIT- UND
                    BILDUNGSSTÄTTE DER EVANGELISCHEN GEMEINDEJUGEND E.V.
                    – NACHFOLGEND „VERANSTALTER“ (VA) GENANNT.</h2>
                <div>
                    <h3>1. Abschluss des Pauschalreisevertrages</h3>
                    <span>Mit der Anmeldung wird dem Otto-Riethmüller-Haus Freizeit- und Bildungsstätte der
                        Evangelischen Gemeindejugend e.V. als Veranstalter der Ferienfreizeit vom Anmeldenden der
                        Abschluss eines Pauschalreisevertrags aufgrund der in der Ausschreibung genannten
                        Leistungsbeschreibungen und Preise unter Einbeziehung dieser Anmelde- und Teilnahmebedingungen
                        verbindlich angeboten, der Anmeldende ist an sein Angebot für die Dauer von 14 Tagen ab dessen
                        Eingang beim Veranstalter gebunden.<br>
                        Die Anmeldung erfolgt schriftlich auf dem vom Veranstalter hierfür vorgesehenen Formular;
                        Anmeldungen per Telefon werden nicht angenommen. Bei Minderjährigen ist sie von einem
                        Personensorgeberechtigten zu unterschreiben. Mit dem Eingang einer Teilnahmebestätigung des
                        Veranstalters beim Anmeldenden kommt der Pauschalreisevertrag zustande.
                        Sollte die Ferienfreizeit bereits voll belegt sein oder der Teilnahme sonstige Gründe
                        entgegenstehen, wird der Anmeldende umgehend benachrichtigt.
                    </span>
                </div>
                <div>
                    <h3>2. Bezahlung</h3>
                    <span>Eine Anzahlung in Höhe von 50 € des Reisepreises pro angemeldete/n Teilnehmer/in ist bis
                        spätestens eine Woche nach Erhalt der Teilnahmebestätigung des Veranstalters sowie des
                        Sicherungsscheins fällig. Der restliche Reisepreis ist, sofern in der Ausschreibung nichts
                        Abweichendes vermerkt ist, spätestens drei Wochen vor Beginn der Ferienfreizeit fällig, in
                        keinem Fall aber vor Ablauf der Frist nach Ziffer 6 f dieser Bedingungen. Bei Buchungen kürzer
                        als drei Wochen vor Beginn der Ferienfreizeit bzw. nach Ablauf der Frist nach Ziffer 6 f ist der
                        gesamte Reisepreis sofort zur Zahlung fällig.<br><br>
                        Zahlungen sind auf das Konto des Veranstalters<br><br>
                        Otto-Riethmüller-Haus<br>
                        Sparkasse Rhein-Haardt<br>
                        IBAN DE23 5465 1240 0002 5018 23<br><br>
                        zu leisten. Der Veranstalter bittet, beim Verwendungszweck der Zahlung unbedingt die in der
                        Ausschreibung angegebene Freizeitnamen und den Namen des/der Teilnehmenden anzugeben.
                    </span>
                </div>
                <div>
                    <h3>3. Vertragliche Leistungen, Leistungs- und Preisänderungen</h3>
                    <span>Der Umfang der vereinbarten Leistungen sowie der beidseitigen Rechte und Pflichten ergibt sich
                        aus der Leistungsbeschreibung in der Ausschreibung, den evtl. ergänzenden Angaben auf der
                        Homepage des Veranstalters, den Angaben in der Fahrtanmeldung, der Teilnahmebestätigung sowie
                        dieser Anmelde- und Teilnahmebedingungen.<br><br>
                        Dem Veranstalter bzw. den Leitenden und Betreuenden der Ferienfreizeit obliegt im Rahmen der
                        gesetzlichen Bestimmungen die Aufsichtspflicht über die minderjährigen Teilnehmenden. Dem
                        Anmeldenden ist bekannt, dass hierfür möglichst schon vorab eine genaue Kenntnis etwaiger
                        besonderer Umstände (z. B. Krankheiten, Notwendigkeit einer Medikamenteneinnahme, spezielle
                        Nahrungsbedürfnisse) der Teilnehmenden erforderlich ist; er verpflichtet sich daher, dem
                        Veranstalter diese Informationen auf dem vom Veranstalter hierfür vorgesehenen Formular
                        mitzuteilen.<br><br>
                        Der Veranstalter kann nach Vertragsabschluss Änderungen und Abweichungen von einzelnen
                        Leistungen oder Pflichten vornehmen, wenn diese nicht erheblich sind, den Gesamtzuschnitt der
                        Ferienfreizeit nicht beeinträchtigen oder sonst für den/die Teilnehmenden zumutbar sind. Der
                        Veranstalter behält sich Erhöhungen des ausgeschriebenen oder vereinbarten Reisepreises aufgrund
                        einer bei Vertragsschluss noch nicht eingetretenen oder für ihn nicht vorhersehbaren Erhöhung
                        der Beförderungskosten, der Steuern oder Abgaben für bestimmte Reiseleistungen oder der für die
                        betreffende Ferienfreizeit geltenden Wechselkurse vor. Im Falle der erheblichen Änderung einer
                        wesentlichen Reiseleistung oder einer Erhöhung des Reisepreises um mehr als 8 % hat der
                        Veranstalter den Anmeldenden unverzüglich, spätestens jedoch 21 Tage vor Fahrtantritt, davon in
                        Kenntnis zu setzen; spätere Änderungen sind nicht zulässig.<br><br>
                        Der Anmeldende ist dann berechtigt, unentgeltlich vom Pauschalreisevertrag zurückzutreten oder
                        die Teilnahme an einer mindestens gleichwertigen Ferienfreizeit zu verlangen, wenn der
                        Veranstalter in der Lage ist, ihm eine solche aus seinem Angebot ohne Mehrpreis anzubieten. Er
                        hat dieses Recht unverzüglich nach der Erklärung des Veranstalters diesem gegenüber geltend zu
                        machen.<br><br>
                        Ebenfalls kann der Anmeldende eine Senkung des Reisepreises verlangen, wenn und soweit die
                        vorgenannten Kosten, Steuern, Abgaben oder Wechselkurse zu niedrigeren Kosten für den
                        Veranstalter führen.<br><br>
                        Hat der Anmeldende mehr als den hiernach geschuldeten Betrag bezahlt, ist der Mehrbetrag vom
                        Veranstalter zu erstatten. Entstandene Verwaltungsausgaben können vom Erstattungsbetrag
                        abgezogen werden; diese sind vom Veranstalter auf Verlangen nachzuweisen.<br><br>
                        Leistungs- und Preisänderungen sind dem Anmeldenden auf einem dauerhaften Datenträger klar und
                        verständlich mitzuteilen.
                    </span>
                </div>
                <div>
                    <h3>4. Teilnahme eines Ersatzreisenden</h3>
                    <span>Der/die Teilnehmende kann sich bis zum Beginn der Ferienfreizeit durch einen Dritten ersetzen
                        lassen, sofern dieser den in der Ausschreibung angegebenen besonderen Fahrterfordernissen genügt
                        und seiner Teilnahme keine gesetzlichen Vorschriften oder behördlichen Anordnungen
                        entgegenstehen. In diesem Fall wird lediglich eine Bearbeitungsgebühr von EUR 20,00 berechnet.
                    </span>
                </div>
                <div>
                    <h3>5. Rücktritt des Anmeldenden vor Reisebeginn</h3>
                    <span>Der Anmeldende kann jederzeit vor Beginn der Ferienfreizeit vom Pauschalreisevertrag
                        zurücktreten, der Rücktritt ist schriftlich zu erklären. Maßgeblich ist der Zugang der
                        Rücktrittserklärung beim Veranstalter. Bei Minderjährigen muss der Rücktritt von einem
                        Personensorgeberechtigten erklärt werden. Die bloße Nichtzahlung des Reisepreises ist keine
                        Rücktrittserklärung.<br><br>
                        Tritt der Anmeldende vom Pauschalreisevertrag zurück oder tritt der/die Teilnehmende die
                        Ferienfreizeit nicht an, so kann der Veranstalter einen angemessenen pauschalen Ersatz für seine
                        getroffenen Vorkehrungen und Aufwendungen unter Berücksichtigung einer anderweitigen Verwendung
                        der Reiseleistung verlangen. Dieser beträgt bei einem Rücktritt:<br><br>
                        bei Reisen mit eigener Anreise und sonstige Reisen<br>
                        bis 31 Tage vor Fahrtbeginn: 5 % des Reisepreises<br>
                        bis 14 Tage vor Fahrtbeginn: 20 % des Reisepreises<br>
                        bis 7 Tage vor Fahrtbeginn: 40 % des Reisepreises<br>
                        ab 7 Tage bis zum Fahrtbeginn: 50 % des Reisepreises<br>
                        ab 2 Tage bis zum Fahrtbeginn: 60 % des Reisepreises<br>
                        und bei Nichtantritt zur Fahrt: 90 % des Reisepreises.<br><br>
                        Dem Anmeldenden wie auch dem Veranstalter bleibt der Nachweis unbenommen, dass dem Veranstalter
                        überhaupt kein Schaden entstanden ist oder der tatsächliche Schaden geringer oder höher ist als
                        die pauschale Entschädigung. Der Veranstalter ist auf Verlangen des Anmeldenden bzw. des
                        Teilnehmenden verpflichtet, die Höhe der Entschädigung zu begründen.
                    </span>
                </div>
                <div>
                    <h3>6. Rücktritt des Veranstalters vor Reisebeginn</h3>
                    <span>Der Veranstalter kann vom Pauschalreisevertrag zurücktreten<br>
                        a) wenn der Anmeldende die Teilnehmerinformationen ungeachtet der ihm hierfür gesetzten Frist
                        und einer schriftlichen Nachfrist von mindestens einer Woche nicht beim Veranstalter
                        einreicht.<br>
                        b) bis eine Woche nach Erhalt der Teilnehmerinformationen, wenn für ihn erkennbar ist, dass –
                        etwa aus medizinischen, gesundheitlichen, pädagogischen oder aus Gründen der Aufsichtsführung –
                        die Teilnahme der angemeldeten Person mit einem nicht vertretbaren Risiko für den betreffenden
                        Teilnehmenden, die anderen Teilnehmenden oder den Veranstalter verbunden ist.<br>
                        c) wenn der/die Teilnehmende ohne ausreichende Entschuldigung nicht an dem/den vom Veranstalter
                        mitgeteilten Vorbereitungstag/en teilnimmt.<br>
                        d) wenn der Anmeldende oder der/die Teilnehmende seine vertraglichen Pflichten nicht einhält,
                        insbesondere der Reisepreis nicht fristgerecht (Anzahlung und Restzahlung) bezahlt wird;<br>
                        e) beim Bekanntwerden für die Aufsichtsführung oder die Durchführung der Ferienfahrt
                        wesentlicher persönlicher Umstände des/der Teilnehmenden nach Abschluss des
                        Pauschalreisevertrages, wenn durch diese eine geordnete oder sichere Durchführung der
                        Ferienfreizeit für den/die Teilnehmende oder die anderen Teilnehmenden nicht gewährleistet
                        ist.<br>
                        f) bis zu 28 Tage vor Reisebeginn, wenn die in der Ausschreibung genannte Mindestteilnehmerzahl
                        für die betreffende Ferienfreizeit nicht erreicht wird. Der/die Anmeldende ist dann berechtigt,
                        die Teilnahme an einer mindestens gleichwertigen Ferienfreizeit zu verlangen, wenn der
                        Veranstalter in der Lage ist, ihm eine solche aus seinem Angebot ohne Mehrpreis anzubieten.
                        In allen anderen Fällen wird der etwa schon geleistete Reisepreis in voller Höhe
                        zurückerstattet, weitere Ansprüche des Anmeldenden sind ausgeschlossen.
                    </span>
                </div>
                <div>
                    <h3>7. Kündigung des Veranstalters</h3>
                    <span>Der Veranstalter bzw. die Leitenden der Ferienfreizeit als dessen bevollmächtigte
                        Vertreter/innen können den Pauschalreisevertrag ohne Einhaltung einer Frist kündigen, wenn
                        der/die Teilnehmende die Durchführung der Ferienfreizeit ungeachtet einer Abmahnung der
                        Freizeitleitung so nachhaltig stört, dass der Veranstalter seine Aufsichtspflicht gegenüber den
                        Teilnehmenden der Ferienfreizeit oder die weitere schadensfreie Durchführung der Ferienfreizeit
                        nicht mehr gewährleisten kann oder wenn sich der/die Teilnehmende ungeachtet einer Abmahnung der
                        Freizeitleitung sonst in einem Maße vertragswidrig verhält, dass die sofortige Kündigung des
                        Pauschalreisevertrages gerechtfertigt ist.<br><br>
                        Die Kosten für die vorzeitige Rückbeförderung des/der Teilnehmenden nach einer Kündigung sowie
                        weitere damit im Zusammenhang anfallende Kosten werden dem Anmeldenden bzw. den
                        Personensorgeberechtigten in Rechnung gestellt. In diesem Fall behält der Veranstalter den
                        Anspruch auf den vollen Reisepreis; er muss sich jedoch den Wert der ersparten Aufwendungen
                        anrechnen lassen, die er aus einer Erstattung oder einer anderweitigen Verwendung der nicht in
                        Anspruch genommenen Leistungen erlangt.
                    </span>
                </div>
                <div>
                    <h3>8. Versicherungen</h3>
                    <span>Der Veranstalter hat für die Teilnehmenden während der Dauer der Ferienfreizeit eine Unfall-
                        und eine Haftpflichtversicherung abgeschlossen. Letztere tritt jedoch nur bei Schäden gegenüber
                        Dritten ein, nicht bei Schäden, die sich die Teilnehmenden untereinander zufügen und gilt nur
                        subsidiär zu anderen bestehenden Versicherungen. Kein Versicherungsschutz besteht bei Ansprüchen
                        aus dem Verlust oder Abhandenkommen von Sachen aller Art. Der Veranstalter empfiehlt ggf. den
                        Abschluss eigener zusätzlicher Versicherungen (Reiserücktrittskosten, Reisegepäck, Haftpflicht,
                        Auslandskrankenschutz etc.), um die mit der Anmeldung/Teilnahme an der Ferienfreizeit
                        verbundenen Risiken zu mindern.
                    </span>
                </div>
                <div>
                    <h3>9. Pass- und Visavorschriften</h3>
                    <span>Der Veranstalter verpflichtet sich, deutsche Staatsangehörige oder Staatsangehörige des
                        Staates, in dem die Ferienfreizeit angeboten wird, bei Auslandsreisen über geltende Pass- und
                        Visavorschriften zu informieren, für Angehörige anderer Staaten erteilt das zuständige Konsulat
                        Auskunft. Für die Erfüllung behördlicher Auflagen, Zoll- und Gesundheitsvorschriften sowie die
                        Beschaffung der notwendigen Reisedokumente ist, sofern dies der Veranstalter nicht ausdrücklich
                        übernommen hat, der Anmeldende selbst verantwortlich. Der Veranstalter haftet nicht für
                        unvorhersehbare Verzögerungen der diplomatischen Vertretungen bei der Ausstellung von
                        Reisedokumenten und beim Zugang, sofern ihn nicht ein eigenes Verschulden trifft.
                    </span>
                </div>
                <div>
                    <h3>10. Haftung des Veranstalters</h3>
                    <span>Die vertragliche Haftung des Veranstalters für Schäden des/der Teilnehmenden, die nicht
                        Körperschäden sind, ist der Höhe nach beschränkt auf den dreifachen Reisepreis, soweit ein
                        solcher Schaden vom Veranstalter nicht schuldhaft herbeigeführt wird oder soweit der
                        Veranstalter für einen Schaden allein wegen eines Verschuldens eines Leistungsträgers
                        verantwortlich ist. Bei Schäden durch nicht vorhersehbare höhere Gewalt, durch vorwerfbar
                        fehlerhafte Angaben in der Fahrtanmeldung oder infolge von vorwerfbaren Verstößen des/der
                        Teilnehmenden gegen Anordnungen der Freizeitleitung übernimmt der Veranstalter keinerlei
                        Haftung. Er haftet auch nicht für Schäden, Krankheit, Unfall oder Verlust von Gegenständen, die
                        durch fahrlässiges Verhalten des/der Teilnehmers/in verursacht werden.<br>
                        Der Veranstalter haftet ferner nicht für Leistungsstörungen, Personen-, Sach- oder
                        Vermögensschäden im Zusammenhang mit Leistungen, die als Fremdleistungen lediglich vermittelt
                        werden und die in der Leistungsbeschreibung ausdrücklich als Fremdleistungen gekennzeichnet
                        sind.
                    </span>
                </div>
                <div>
                    <h3>11. Obliegenheiten des Anmeldenden und des Teilnehmenden</h3>
                    <span>Bei auftretenden Schwierigkeiten ist jeder/jede Teilnehmende verpflichtet, alles Zumutbare zu
                        tun, um zu deren Behebung beizutragen und evtl. Schäden für alle Beteiligten so gering wie
                        möglich zu halten.<br>
                        Er/sie ist verpflichtet, Beanstandungen unverzüglich der örtlichen Leitung der Ferienfreizeit
                        oder dem Veranstalter mitzuteilen und dieser eine angemessene Frist zur Abhilfe zu setzen, wenn
                        nicht die Abhilfe unmöglich ist oder von der Leitung der Ferienfreizeit oder vom Veranstalter
                        ernsthaft verweigert wird oder wenn die sofortige Kündigung des Pauschalreisevertrags durch ein
                        besonderes Interesse des Teilnehmenden gerechtfertigt wird. Kommt ein/eine Teilnehmende dieser
                        Verpflichtung schuldhaft nicht nach, so stehen ihm/ihr oder dem Anmeldenden Ansprüche insoweit
                        nicht zu.<br>
                        Die Leitung der Ferienfreizeit ist beauftragt und verpflichtet, für Abhilfe zu sorgen, soweit
                        dies möglich und zumutbar ist. Ansprüche des Anmeldenden wegen Reisemängeln nach den §§ 651 i
                        bis j des Bürgerlichen Gesetzbuches verjähren nach Ablauf von zwei Jahren ab dem vertraglich
                        vorgesehenen Ende der Ferienfreizeit.
                    </span>
                </div>
                <div>
                    <h3>12. Datenschutz</h3>
                    <span>Der Veranstalter versichert die vertrauliche Behandlung der Daten der Anmeldenden und der
                        Teilnehmenden gemäß den gesetzlichen Bestimmungen sowie die Löschung der Daten, sofern diese
                        nicht mehr für die Abwicklung der Ferienfreizeit erforderlich sind. Er erteilt dem Anmeldenden
                        auf Anfrage Auskunft, welche seiner Daten bei ihm gespeichert sind. Die Verwendung von Daten zu
                        Werbezwecke oder die Weitergabe von Daten an Dritte ohne Einwilligung des Anmeldenden ist
                        ausgeschlossen außer an Unternehmen und Personen, die mit der Erbringung von Leistungen im
                        Rahmen der Ferienfreizeit beauftragt sind.
                    </span>
                </div>
                <div>
                    <h3>13. Schlussbestimmungen</h3>
                    <span>Die Unwirksamkeit einzelner Bestimmungen des Pauschalreisevertrags oder dieser Anmelde- und
                        Teilnahmebedingungen hat nicht die Unwirksamkeit des ganzen Vertrages zur Folge. Die
                        Rechtsbeziehungen zwischen den Vertragsparteien richten sich ausschließlich nach deutschem
                        Recht. Gerichtsstand des Veranstalters ist Weidenthal.
                    </span>
                </div>
                <div>
                    <span>Stand: 01.07.2019<br><br>
                        Veranstalter:<br> 
                        Otto-Riethmüller-Haus Freizeit- und Bildungsstätte der Evangelischen Gemeindejugend e.V.<br> 
                        Pascal Wilking, 1. Vorsitzender | Marlies Franck, 2. Vorsitzende<br> 
                        Am Weiher 47<br> 
                        67475 Weidenthal<br> 
                        Telefon: 06329 989123 <br>
                        info(at)orh.de<br> 
                        Registergericht: Amtsgericht Ludwigshafen am Rhein<br>
                        Registernummer: VR40922
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>