<div class="greyBox">
    <div class="mainBox">
        <h2>Kontaktformular</h2>
        <!-- <div class="form"> -->
            <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="Vor- und Nachname" required
                    (blur)="inputName = !name.valid || !name.touched ? false : true; checkValidation()">
                @if (!name.valid && name.touched) {
                <img class="inputCheck" src="assets/img/invalid.png">
                <input type="submit" class="submitButton" [class.enabled]="!validCheck" [disabled]="!validCheck"
                    value="Versenden">
                }
            </form> -->
        <!-- </div> -->
    </div>
</div>