<div class="greyBox">
    <div class="mainBox">
        <h2>Jugendsekretär:in</h2>
        <div class="contentBox">
            <h1>Das Otto-Riethmüller-Haus sucht für die Leitung der Kinder- und Jugendarbeit eine(n) Jugendsekretär(in).
            </h1>
            <p>Wir sind ein selbstständiger Jugendverband innerhalb der Evangelischen Kirche der Pfalz
                und betreiben eine Freizeit- und Bildungsstätte mit 88 Betten.<p>
            <h2>Ihr Aufgabengebiet:</h2>
            <ul>
                <li>Leitung unserer Jugendarbeit</li>
                <li>Gewinnung, Begleitung und Schulung ehrenamtlicher Mitarbeiter</li>
                <li>Planung und Durchführung von Kinder- und Jugendfreizeiten</li>
                <li>Planung und Durchführung von Seminaren für Jugendliche</li>
                <li>Öffentlichkeitsarbeit</li>
                <li>Gestaltung und Begleitung von Schulklassenaufenthalten und Konfirmandenfreizeiten</li>
                <li>Aufbau von Kinder- und Jugendgruppen in Gemeinden</li>
                <li>Gestaltung von Jugendbibelwochen</li>
            </ul>
            <h2>Wir wünschen uns eine Person mit:</h2>
            <ul>
                <li>einem lebendigen Glauben an Jesus Christus</li>
                <li>einer abgeschlossenen Ausbildung (aus den Bereichen Pädagogik oder Theologie)</li>
                <li>einem freundlichen und selbstbewussten Auftreten</li>
                <li>der Fähigkeit selbstständig und verantwortlich arbeiten zu können</li>
            </ul>
            <h2>Wir bieten:</h2>
            <ul>
                <li>eine interessante und abwechslungsreiche Tätigkeit</li>
                <li>Freiraum zur Umsetzung eigener Ideen und Einbringen eigener Fähigkeiten (z.B. Erlebnispädagogik,
                    Medienpädagogik...)</li>
                <li>eine angemessene Vergütung</li>
            </ul>
            <p>Nähere Auskunft unter Tel. 06329/989123 bei Stefan Franck
                Bewerbungen richten Sie bitte mit den üblichen Unterlagen an:<p>
            <h3>Otto-Riethmüller-Haus<br>
                Freizeit- und Bildungsstätte der Evang. Gemeindejugend e.V.<br>
                Am Weiher 47<br>
                67475 Weidenthal/Pfalz</h3>
        </div>
    </div>
</div>