@import './../../../../styles.scss';

.greyBox {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: $colorGrey;
    @include dflex();
}

h1 {
    font-size: 26px;
}

.mainBox {
    width: 100%;
    max-width: 1440px;
    color: $colorBlue;
    @include dflex($fd: column);

    >h2 {
        padding-top: 32px;
        padding-bottom: 32px;
        color: $colorBlue;
    }
}


.contentBox {
    width: 50%;

    >h1 {
        text-align: center;
        margin-bottom: 24px;
    }

    >h2,
    h3,
    span,
    li,
    p {
        color: black;
        line-height: 24px;
    }

    >p {
        margin-bottom: 24px;
    }
}



// RESPONSIVNESS

@media(max-width: 1200px) {

    .contentBox {
        width: 100%;
    }

    .mainBox {
        width: 90%;
    }

}

@media(max-width: 500px) {

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 16px;
    }

    li {
        font-size: 15px;
    }

    h3 {
        font-size: 14px;
    }

}