<div class="blueBox">
    <div class="mainBox">
             <h2>Wer war Otto Riethmüller?</h2>
            <div class="screen">
                <h2 (click)="changeInfo('minus')">&#8249;</h2>
                <div class="infoBox">
                    <div class="infoText" *ngIf="nextInfo == 1">
                        <div class="titleBox">
                            <h3>Im Einsatz für die Jugend</h3>
                        </div>
                        <div class="fixedSize">
                            <span>„Es soll das Werk bei meinem Tode nur einen Namen unendlich preisen: Jesus Christus,
                                der
                                Sünder rettet und der mich Sünder gerettet hat.“ So lautete der letzte Wunsch von Otto
                                Riethmüller (1889-1938), dem Leiter des Verbandes der evangelischen weiblichen Jugend
                                Deutschlands
                                und Namensgeber unseres Hauses. Wer war dieser Mann, der es verstand, in einer Zeit des
                                kirchlichen
                                und politischen Umbruchs die Jugend für das Evangelium zu begeistern? Wir stellen ihn
                                vor.</span>
                        </div>
                        <p>&#10122;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 2">
                        <div class="titleBox">
                            <h3>Vielfältig begabt</h3>
                        </div>
                        <div class="fixedSize">
                            <span>1889 in Cannstadt am Neckar geboren wuchs Otto Riethmüller zusammen mit vier jüngeren
                                Geschwistern
                                auf. Die religiöse Erziehung durch seine Eltern und der Besuch des
                                Konfirmandenunterrichtes
                                prägten
                                sein weiteres Leben. Am humanistischen Gymnasium der Stadt konnten seine vielfältigen
                                Begabungen
                                reifen.
                                Er galt als guter Dichter, Musiker und Maler. Durch die kritische Theologie, die im
                                Religionsunterricht
                                gelehrt wurde, geriet er in Glaubenskonflikte. Trotzdem begann er 1907, in Tübingen
                                Theologie zu
                                studieren.</span>
                        </div>
                        <p>&#x25CB;&#10123;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 3">
                        <div class="titleBox">
                            <h3>Zur Leitung berufen</h3>
                        </div>
                        <div class="fixedSize">
                            <span>Nach Abschluss seines Studiums wirkte Otto Riethmüller unter anderem in Stuttgart,
                                Heilbronn,
                                Schöntal,
                                Cannstadt und Esslingen als Pfarrer. Er bekam gemeinsam mit Ehefrau Anne von Heider drei
                                Kinder.
                                1928
                                wurde er dazu berufen, die Leitung des großen Zusammenschlusses der evangelischen
                                weiblichen
                                Jugend
                                in
                                Deutschland zu übernehmen.</span>
                        </div>
                        <p>&#x25CB;&#x25CB;&#10124;&#x25CB;&#x25CB;&#x25CB;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 4">
                        <div class="titleBox">
                            <h3>Keine vorgefertigten Antworten</h3>
                        </div>
                        <div class="fixedSize">
                            <span>Otto Riethmüller sah die dringendste Aufgabe der Kirche darin, der Jugend zu helfen.
                                So
                                appellierte
                                er an seine Mitarbeiter: „Wir müssen die Botschaft so sagen können, dass es die heutige
                                Jugend
                                hört
                                und
                                fassen kann ... Der junge Mensch wird nur bereit sein, mit mir hinzuhorchen, wenn er es
                                mit
                                einem zu
                                tun
                                hat, der nicht auf alles schon eine fertige Antwort hat, sondern selber ergriffen vor
                                dem
                                Geheimnis
                                der
                                Botschaft steht.“</span>
                        </div>
                        <p>&#x25CB;&#x25CB;&#x25CB;&#10125;&#x25CB;&#x25CB;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 5">
                        <div class="titleBox">
                            <h3>Eine schwierige Zeit</h3>
                        </div>
                        <div class="fixedSize">
                            <span>Otto Riethmüllers Arbeit wurde durch das Aufkommen des Nationalsozialismus stark
                                beeinträchtigt.
                                Als
                                Vertreter der christlichen Jugend in der Jugendkammer konnte auch er nicht verhindern,
                                dass
                                die
                                Jugendlichen des Evangelischen Jugendwerkes 1933 in die Hitlerjugend übernommen wurden.
                                Dennoch
                                gelange
                                es ihm nach 1934 in besonderer Weise, der Jugend Gottes Wort in der Bibel aufzuschließen
                                und
                                lieb zu
                                machen. Im Jahr 1935 berief die Bekennende Kirche eine eigene Jugendkammer, deren
                                Vorsitzender
                                Otto
                                Riethmüller wurde.</span>
                        </div>
                        <p>&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#10126;&#x25CB;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 6">
                        <div class="titleBox">
                            <h3>Symbol der Gemeindejugend</h3>
                        </div>
                        <div class="fixedSize">
                            <span>1938 verschlechterte sich Otto Riethmüllers Gesundheitszustand, sodass er seine
                                Pflichten
                                nur
                                mühsam bewältigen konnte. Wiederholte Krankheiten und eine Operation schwächten ihn
                                sehr.
                                Kurz
                                vor
                                seinem 50. Geburtstag starb er im Elisabeth-Krankenhaus in Berlin. Seine Grabstätte in
                                Bad
                                Cannstadt
                                ziert eine Erdkugel aus Marmor, aus der sich ein schlankes lateinisches Kreuz erhebt –
                                ein
                                Symbol,
                                das Otto Riethmüller geschaffen hatte, verbunden mit dem Bibelvers „In der Welt habt ihr
                                Angst;
                                aber
                                seid getrost, ich habe die Welt überwunden.“ (Johannes 16,33). Die Kugel mit Kreuz steht
                                bis
                                heute
                                für die Evangelische Gemeindejugend.</span>
                        </div>
                        <p>&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#10127;&#x25CB;</p>
                    </div>
                    <div class="infoText" *ngIf="nextInfo == 7">
                        <div class="titleBox">
                            <h3>Klar ausgerichtet</h3>
                        </div>
                        <div class="fixedSize">
                            <span>Otto Riethmüllers gute Erfahrungen mit einer Jugendarbeit, die klar ausgerichtet ist
                                auf
                                die
                                Bibel
                                und die Gemeinde, wirkte auch nach 1945 weiter. So kam es 1953 zur Gründung der
                                Arbeitsgemeinschaft
                                Evangelische Gemeindejugend der Pfalz. Die Vereinsgründung erfolgte 1963 im Zusammenhang
                                mit
                                dem
                                Bau
                                unserer Freizeit- und Bildungsstätte in Weidenthal. Das Haus trägt bis heute Otto
                                Riethmüllers
                                Namen.</span>
                        </div>
                        <p>&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#x25CB;&#10128;</p>
                    </div>
                </div>
                <h2 (click)="changeInfo('plus')">&#8250;</h2>
            </div>
        </div>
    </div>