@import './../../../styles.scss';

.container {
    width: 100%;
}

.ovalOverlay {
    
    background-color: $colorGrey;
    height: 300px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 150%; 
    border-top-right-radius: 150%; 
    // margin-left: 0%;
    display: flex;
    justify-content: center;
    >div {
        margin-top: 64px;
        padding-top: 12px;
    }
    margin-bottom: -125px;
}

.background {
    width: 100%;
    padding-top: 64px;
    background-color: $colorGrey;
    display: flex;
    justify-content: center;
}



.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorBlue;
    border-radius: 20px;
    padding: 12px;
    color: white;
    height: 24px;
    letter-spacing: 1px;
    font-size: 20px;
    &:hover {
        cursor: pointer;
        background-color: $colorBlueLight;
    }
}

.newsTicker {
    width: 100%;
    background-color: $colorDark;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-top: 30px;
    >h3 {
        font-size: 26px;
    }
    >p {
        font-size: 24px;
    }
}


.textBoxes {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}


.singleTextBox {
    @include textBox($w:30%);
}

.dots {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: $colorBlue; 
}


//  RESPONSIVNESS

@media (max-width: 1500px) {

    .textBoxes {
        padding-left: 16px;
        padding-right: 16px;
    }

}


@media (max-width: 1100px) {

    .singleTextBox {
        width: 27%;
    }

    .newsTicker {
        height: 96px;
        >h3 {
            font-size: 18px;
        }
        >p {
            font-size: 16px;
        }
    }

}


@media (max-width: 700px) {

    .textBoxes {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .singleTextBox {
        width: 93%;
        margin-bottom: 12px;
        >p {
            font-size: 14px;
            line-height: 15px;
        }
    }

    .button {
        margin-top: 12px;
    }

    .ovalOverlay {
        height:100px;
        margin-top: -250px;
        >div {
            margin-top: 30px;
        }
    }

    .background {
        padding-top: 24px;
    }

    .newsTicker {
        margin-top: 18px;
        height: 80px;
        >h3 {
            font-size: 14px;
        }
        >p {
            font-size: 12px;
        }
    }

}

.heroWaveOverlay {
    margin-top: -81px;
    width:100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 450px) {

    .singleTextBox {
        width: 90%;
    }

    .button {
        font-size: 16px;
    }

}