<div class="container">
    <div class="ovalOverlay">
        <div class="button">Belegungsplan & Buchung</div>
    </div>
    <div class="newsTicker">
        <h3>Nächste Freizeit:</h3>
        <p>21.-24.04.2025 - Osterfreizeit für Kinder (8-12 Jahre)</p>
    </div>    
</div>
<div class="background">
    <div class="textBoxes">
        <div class="singleTextBox">
            <p>
                Ob Schulklassen, Konfirmanden, Tagungsteilnehmer oder Familien. 
                Bei uns sind Gruppen jeder Art willkommen. Die Freizeit- und Bildungsstätte 
                Otto-Riethmüller-Haus der Evangelischen Gemeindejugend der Pfalz liegt idyllisch 
                und ruhig mitten im Naturpark Pfälzer Wald. Sie bietet optimale Bedingungen für 
                Ihre Freizeiten und Seminare.
            </p>
        </div>
        <div class="singleTextBox">
            <p>
                In unseren modern ausgestatteten Zimmern (zwei davon barrierefrei) finden bis zu 
                88 Personen Platz. Neben verschiedenen Tagungsräumen stehen unseren Gästen auch ein 
                Club-, ein Kreativ- und ein Tischtennisraum zur Verfügung. Darüber hinaus bietet das 
                weitläufige Außengelände mit einem Volleyballplatz, einer Spielwiese und einer Grillhütte 
                vielfältige Möglichkeiten für die Freizeitgestaltung.
            </p>
        </div>
        <div class="singleTextBox">
            <p>
                Wir laden Sie ein, an unseren Veranstaltungen teilzunehmen. Zum Beispiel organisieren wir 
                für Schulklassen ein dreitägiges Fit-4-Life-Programm, um Sozialkompetenzen zu stärken. 
                Außerdem veranstalten wir Freizeiten für Kinder und Jugendliche. Und auch bei der Kinder- 
                und Jugendarbeit in Ihrer Kirchengemeinde unterstützen wir Sie gerne.
            </p>
        </div>
    </div>
</div>