<div class="videoContainer">
    <video id="heroVideo" controls preload="true" autoplay loop muted class="vid">
        <source src="assets/vid/aktion.mp4" type="video/mp4">
    </video>
</div>
<div class="container">
    <img class="heroWave" src="./../../../assets/img/hero-wave.png">
    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>Angebote</h2>
                <div class="singleTextBox">
                    <span>Das Otto-Riethmüller-Haus ist nicht nur Gastgeber sondern auch Veranstalter von
                        verschiedensten Freizeiten,
                        Jugendtreffen, Seminaren und erlebnispädagogischen Angeboten. Diese richten sich an Kinder und
                        Jugendliche
                        sowie Mitarbeiter in der Kinder- und Jugendarbeit. Unser Ziel ist es, junge Menschen für Jesus
                        Christus zu
                        gewinnen. Darüber hinaus möchten wir soziale Kompetenzen stärken. Nicht alle Veranstaltungen
                        finden in unserem
                        Haus statt. Wir bieten auch an, Gemeinden vor Ort zu unterstützen.</span>
                </div>
            </div>
        </div>
    </div>
</div>