<div class="greyBox">
    <div class="line" [class.activeLine]="main.admSection == 5" (click)="main.admSection = 5">
        <h2>Passwort</h2>
    </div>
    <div class="mainBox" *ngIf="main.admSection == 5">
        <h3>Passwort ändern:</h3>
        <p>Hier kannst du das Admin-Passwort ändern, mit dem du dich in den Administrationsbereich einloggen kannst.</p>
        <div class="contextContainer">
            <div class="pair">
                <label>Altes Passwort</label>
                <input type="password" [(ngModel)]="oldPwd">
            </div>
            <div class="pair">
                <label>Neues Passwort</label>
                <input type="password" [(ngModel)]="newPwd">
            </div>
            <div class="pair">
                <label>Passwort wiederholen</label>
                <input type="password" [(ngModel)]="repPwd">
            </div>
        </div>
        <div class="button" (click)="checkValidation()" *ngIf="!pwdSuccess && pwdError == ''">Änderung speichern</div>
        <div class="button green" (click)="pwdSuccess = false" *ngIf="pwdSuccess">Passwort wurde erfolgreich geändert!</div>
        <div class="button red" (click)="pwdError = ''" *ngIf="pwdError.length > 0">{{ pwdError }}</div>
    </div>
</div>