@import './../../../../styles.scss';

.blueBox {
    width: 100%;
    background-color: $colorBlue;
    @include dflex();
    padding: 64px 0px 64px 0px;
}

.mainBox {
    width: 90%;
    max-width: 1440px;
    @include dflex($fd: column);
    text-align: center;

    >h2 {
        color: white;
        padding-bottom: 32px;
    }
}

span {
    color: white;
    margin-bottom: 12px;
}

.fotoBox {
    width: 90%;
    border-radius: 16px;
    background-color: $colorBlueLight;
    @include dflex($fd: column);
    border-radius: 16px;
}

.registerBox {
    @include dflex();
}

.register {
    width: 200px;
    background-color: $colorBlueBright;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 12px;
    margin: 32px 6px 0px 6px;

    &:hover {
        background-color: $colorGrey;
        cursor: pointer;
    }
}

.thumbnailBox {
    width: 90%;
    background-color: $colorDark;
    @include dflex();
    flex-wrap: wrap;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 16px;
}

.thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    box-sizing: border-box;
    margin: 0px 4px 8px 4px;
    object-fit: cover;
}

.thumb:hover {
    border: 3px solid white;
    cursor: pointer;
}

.screen {
    width: 90%;
    background-color: $colorDark;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom: 48px;
    @include dflex($fd: column);
}

.screenBox {
    @include dflex();

    >h2 {
        color: $colorGrey;
        font-size: 64px;

        &:hover {
            cursor: pointer;
            color: $colorBlueLight;
        }
    }
}

.screenPic {
    width: 85%;
    margin: 16px;
}

.activeReg {
    background-color: $colorDark !important;
    color: white;
}

.activeThumb {
    border: 3px solid $colorBlueLight !important;
}

.icon {
    width: 250px;

    &:hover {
        filter: drop-shadow(0px 0px 5px white);
    }
}



// RESPONSIVNESS


@media(max-width: 1000px) {

    .fotoBox,
    .mainBox {
        width: 100%;
    }

    .thumbnailBox,
    .screenBox,
    .screen {
        width: 95%;
    }

}

@media(max-width: 800px) {

    .register {
        width: auto;
    }

    .icon {
        width: 180px;
    }

}

@media(max-width: 400px) {

    .register {
        margin: 32px 1px 0px 1px;
        padding: 8px;
    }

    .thumbnail {
        width: 40px;
        height: 40px;
        border-radius: 16px;
        box-sizing: border-box;
        margin: 0px 3px 6px 3px;
        object-fit: cover;
        border-radius: 8px;
    }

    .icon {
        width: 100px;
    }

    .screenBox {
        >h2 {
            font-size: 48px;
        }
    }


}