<div class="greyBox">
    <div class="mainBox">
        <h2>Gemeindearbeit</h2>
        <span>Die Evangelische Gemeindejugend der Pfalz hat es sich zur Aufgabe gemacht, die Arbeit
            der Kirchengemeinden mit Kindern und Jugendlichen zu unterstützen. Deshalb bieten wir
            Ihnen Folgendes an:</span>
        <table>
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 80%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><b>Für Kinder:</b></td>
                    <td>
                        <ul>
                            <li>Freizeiten im Otto-Riethmüller-Haus</li>
                            <li>Kinderbibelwoche oder Kindertage (die Leitung übernimmt der Jugendreferent des Otto-Riethmüller-Hauses, 
                                Mitarbeitende aus der Gemeinde helfen mit)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Für Jugendliche:</b></td>
                    <td>
                        <ul>
                            <li>Freizeiten im Otto-Riethmüller-Haus</li>
                            <li>Gestaltung von einem Jugendkreisabend</li>
                            <li>Präparanden-/Konfirmandentage (die Leitung übernimmt der Jugendreferent des Otto-Riethmüller-Hauses, 
                                Mitarbeiter aus der Gemeinde helfen mit)</li>
                            <li>Präparanden/Konfirmandenfreizeiten im ORH (in Absprache kann der Jugendreferent des Otto-Riethmüller-
                                Hauses einzelne Bausteine im Programm übernehmen)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Für Mitarbeiter:</b></td>
                    <td>
                        <ul>
                            <li>Grund- und Aufbaukurs im Otto-Riethmüller-Haus (Schulung zum Erwerb der Jugendleitercard)</li>
                            <li>Seminare in Ihrem Ort/Ihrer Gemeinde (Andachten vorbereiten, Rhetorik, neue Ideen für Gruppenstunden...)</li>
                            <li>Begleitung und Coaching von Mitarbeiterteams (je nach Wunsch zwei bis drei Monate intensive oder 
                                punktuelle Begleitung)</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <span>Wir bitten Sie, die Fahrtkosten für die Vorbereitungstreffen und für die von Ihnen gewünschten Angebote zu übernehmen.
            Wir freuen uns auf die Zusammenarbeit mit Ihrer Kirchengemeinde!</span>
    </div>
</div>