<div class="mainContainer">
    <div class="nav">
        <img src="assets/img/orh-logo.png">
        <div class="text">
            <div class="name">
                <h2>Otto-Riethmüller-Haus</h2>
                <div class="subname">
                    <h3>Freizeit- und Bildungsstätte</h3>
                    <h3>der ev. Gemeindejugend e.V.</h3>
                </div>
            </div>
            <div class="menu">
                <a routerLink="/"><p class="link">Home</p></a>
                <a routerLink="/freizeitstaette"><p class="link">Freizeitstätte</p></a>
                <a routerLink="/angebote"><p class="link">Angebote</p></a>
                <a routerLink="/ueberuns"><p class="link">Über uns</p></a>
                <a routerLink="/kontakt"><p class="link">Kontakt</p></a>
            </div>
        </div>
    </div>
</div>