<div class="mainContainer">
    <div class="nav">
        <img src="assets/img/orh-logo.png">
        <div class="text">
            <div class="name">
                <h2>Otto-Riethmüller-Haus</h2>
                <div class="subname">
                    <h3>Freizeit- und Bildungsstätte</h3>
                    <h3>der ev. Gemeindejugend e.V.</h3>
                </div>
            </div>
            <div class="menu">
                <a routerLink="/">
                    <p class="link" [class.currentSite]="main.current == 1" (click)="main.current = 1">Home</p>
                </a>
                <a routerLink="/freizeitstaette">
                    <p class="link" [class.currentSite]="main.current == 2" (click)="main.current = 2">Freizeitstätte
                    </p>
                </a>
                <a routerLink="/angebote">
                    <p class="link" [class.currentSite]="main.current == 3" (click)="main.current = 3">Angebote</p>
                </a>
                <a routerLink="/ueberuns">
                    <p class="link" [class.currentSite]="main.current == 4" (click)="main.current = 4">Über uns</p>
                </a>
                <a routerLink="/kontakt">
                    <p class="link" [class.currentSite]="main.current == 5" (click)="main.current = 5">Kontakt</p>
                </a>
            </div>

        </div>
    </div>


</div>
<div class="overlayMenu" (click)="main.overlay = !main.overlay; noScroll(true)">
    <h1>____</h1>
    <h1>____</h1>
    <h1>____</h1>
</div>
<div class="mobileMenu" *ngIf="main.overlay" [ngClass]="{'openMobileMenu': main.overlay}">
    <div class="closer" (click)="noScroll(false); main.overlay=false">X</div>
    <a routerLink="/">
        <div class="ovalMenu" (click)="changeSite(1); noScroll(false)">
            <h2>Home</h2>
        </div>
    </a>
    <a routerLink="/freizeitstaette">
        <div class="ovalMenu" (click)="changeSite(2); noScroll(false)">
            <h2>Freizeitstätte</h2>
        </div>
    </a>
    <a routerLink="/angebote">
        <div class="ovalMenu" (click)="changeSite(3); noScroll(false)">
            <h2>Angebote</h2>
        </div>
    </a>
    <a routerLink="/ueberuns">
        <div class="ovalMenu" (click)="changeSite(4); noScroll(false)">
            <h2>Über uns</h2>
        </div>
    </a>
    <a routerLink="/kontakt">
        <div class="ovalMenu" (click)="changeSite(5); noScroll(false)">
            <h2>Kontakt</h2>
        </div>
    </a>
</div>