<div class="videoContainer">
    <video id="heroVideo" controls preload="true" autoplay loop muted class="vid">
        <source src="assets/vid/haus.mp4" type="video/mp4">
    </video>
</div>
<div class="container">
    <img class="heroWave" src="./../../../assets/img/hero-wave.png">
    <div class="heroGreyField">
        <div class="heroWaveOverlay">
            <div class="textBoxes">
                <h2>Das Otto-Riethmüller-Haus in Weidenthal</h2>
                <div class="singleTextBox">
                    <span>Unser Haus ist geeignet für Gruppenaufenthalte jeder Art.
                        In zwei nah beieinanderliegenden Gebäuden, die in den vergangenen Jahren umfassend renoviert
                        wurden,
                        können wir bis zu 88 Personen unterbringen. Darüber hinaus stehen unseren Gästen verschiedene
                        Gruppenräume zur Verfügung. Unser Außengelände bietet viel Platz für Freizeitaktivitäten.
                        Genauso
                        wie
                        der Naturpark Pfälzer Wald, der sich in unmittelbarer Nähe befindet.</span>
                </div>
            </div>
        </div>
    </div>
</div>