@import './../../../../styles.scss';

.container {
    width: 100%;
    margin-bottom: 100px;
}

.ovalOverlay {
    background-color: $colorGrey;
    height: 400px;
    width: 120%;
    text-align: center;
    border-top-left-radius: 100%; 
    border-top-right-radius: 100%; 
    margin-left: -10%;
    display: flex;
    justify-content: center;
    margin-bottom: -225px;
}

.heroGreyField {
    width: 100%;
    background-color: $colorGrey;
    margin-top: -4px;
}

.textBoxes {
    max-width: 1440px;
    width: 60%;
    height: auto;    
    @include dflex($fd:column);
    margin-bottom: 48px;
    >h2 {
        color: $colorBlue;
        padding-bottom: 32px;
    }
}

.singleTextBox {
    @include textBox($w:100%);
}

.heroWaveOverlay {
    margin-top: -36px;
    width:100%;
    display: flex;
    justify-content: center;
}

//  RESPONSIVNESS

@media (max-width: 800px) {

    .textBoxes {
        width: 90%;
        text-align: center;
    }

}

@media (max-width: 700px) {

    .heroWaveOverlay {
        margin-top: -16px;
    }

}

@media (max-width: 600px) {

    .vid {
        height: 480px;
    }

}

