// VARIABLES

$colorBlue: #0071BC;
$colorGrey: #ececec;
$colorDark: #302f2f;
$colorBlueLight: #44b1fa;
$colorBlueBright: #7fc7f7;



body {
    margin: 0;
    overflow-x: hidden;
}

html {
    font-family: 'Almarai', sans-serif;
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -150px;
}

.vid {
  width: 100%;
  height: 640px;
  object-fit: cover;
  z-index: -2;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0071BC;
  border-radius: 20px;
  padding: 12px;
  color: white;
  height: 24px;
  letter-spacing: 1px;
  font-size: 20px;
  &:hover {
      cursor: pointer;
      background-color: $colorBlueLight;
  }
}

.heroWave {
  width: 100%;
}







// MIXINS

@mixin dflex($jc:center, $ai:center, $fd:row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin textBox($w:50%, $p:16px, $lh:22px) {
  background-color: white;
  border-radius: 16px;
  text-align: justify;
  padding: $p;
  width: $w;
  >p, span {
      line-height: $lh;
  }
}


// FONTS

/* almarai-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/almarai-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* almarai-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/almarai-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* almarai-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/almarai-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* almarai-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/almarai-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  //  RESPONSIVNESS

  @media(max-width: 1500px) {

    .heroWave {
      height: 120px;
    }

  }


  @media(max-width: 700px) {

    .heroWave {
      height: 50px;
    }

    .greyField {
      height: 50px;
      margin-top: -10px;
      background-color: $colorGrey;
    }

  }