@import './../../../../styles.scss';

.container {
    width: 100%;
}

.ovalOverlay {
    background-color: $colorGrey;
    height: 400px;
    width: 120%;
    text-align: center;
    border-top-left-radius: 100%; 
    border-top-right-radius: 100%; 
    margin-left: -10%;
    display: flex;
    justify-content: center;
    margin-bottom: -225px;
}

.heroGreyField {
    width: 100%;
    background-color: $colorGrey;
    margin-top: -4px;
}

.textBoxes {
    max-width: 1440px;
    width: 60%;
    height: auto;    
    @include dflex($fd:column);
    margin-bottom: 48px;
    >h2 {
        color: $colorBlue;
        padding-bottom: 32px;
    }
}

.singleTextBox {
    @include textBox($w:100%);
    @include dflex($fd:column);
    text-align: center;
    >span {
        margin-bottom: 32px;
    }
}

.heroWaveOverlay {
    margin-top: -36px;
    width:100%;
    display: flex;
    justify-content: center;
}

img {
    height: 64px;
}

input {
    width: 200px;
    border: solid 1px $colorBlue;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: white;
    margin-bottom: 20px;
    transition: border .15s ease-in-out;
    color: $colorDark;
    font-size: 20px;
    font-family: 'Almarai', sans-serif;
    scale: 1;
}

label {
    width: 200px;
    margin-bottom: -10px;
    z-index: 1;
    background-color: $colorBlue;
    border: 1px solid $colorBlue;
    color: white;
    border-radius: 8px;
}

.button {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: $colorBlue;
    border-radius: 20px;
    padding: 12px;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    border: 0;
    &:hover {
        background-color: $colorBlueLight;
        cursor: pointer;
    }
}

.wrong {
    background-color: red !important;
}