<div class="background">
    <div class="line">
        <a routerLink="/">
            <p class="link" [class.currentSite]="main.current == 6" (click)="main.current = 6">Impressum</p>
        </a>
        <a routerLink="/" *ngIf="main.adminCount >= 5" class="secretLink"><h3>&copy; 2025 by ORH</h3></a>
        <h3 *ngIf="main.adminCount < 5">&copy; 2025 by ORH</h3>
        <a routerLink="/">
            <p class="link" [class.currentSite]="main.current == 7" (click)="main.current = 7">Spenden</p>
        </a>
    </div>
</div>
