@import './../../../../styles.scss';

body {
    background-color: #D9D9D9;
}


.background {
    width: 100%;
    background: linear-gradient(0deg,$colorBlue 0%, $colorGrey 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.line {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.secretLink {
    cursor: pointer;
    color: red;
}


//  RESPONSIVNESS

@media (max-width: 1500px) {

    .line {
        margin-left: 16px;
        margin-right: 16px;
    }

}


@media (max-width: 600px) {

    h3 {
        font-size: 14px;
    }

}


@media (max-width: 450px) {

    h3 {
        font-size: 12px;
    }

}